<header class="header">
    <div class="container-header">
        <div class="logo">
            <a href="index.html">Jhonnatan Costa <span class="destaque">│Dev.</span></a>
        </div>
        <div class="menu-icon">
            <i class="fa-solid fa-bars"></i>
        </div>
        <div class="menu-navegacao">
            <i class="fa-solid fa-times close-icon"></i>
            <ul class="lista-navegacao">
                <li><a href="index.html">INÍCIO</a></li>
                <li><a href="about.html">SOBRE</a></li>
                <li><a href="services.html">SERVIÇOS</a></li>
                <li><a href="projects.html">PROJETOS</a></li>
                <li><a href="contact.html">CONTATO</a></li>
            </ul>
        </div>
    </div>
</header>